<ion-header>

  <ion-navbar color="secondary">
    <ion-title>Setting</ion-title>
  </ion-navbar>

</ion-header>

<ion-content>

  <form>
    <ion-list>
      <ion-item>
        <ion-label fixed>Kecamatan</ion-label>
        <!-- logika filter untuk kecamatan -->
        <ion-select *ngIf="role_id == '2'" disabled="true" placeholder="Pilih Kecamatan" name="kecamatan" [ngModel]="kecamatan" (ionChange)="update($event)">
          <ion-option *ngFor="let kec of list_kecamatan" value="{{kec.id}}">{{kec.kec_name}}</ion-option>
        </ion-select>
        <ion-select *ngIf="role_id == '1'" disabled="false" placeholder="Pilih Kecamatan" name="kecamatan" [ngModel]="kecamatan" (ionChange)="update($event)">
          <ion-option *ngFor="let kec of list_kecamatan" value="{{kec.id}}">{{kec.kec_name}}</ion-option>
        </ion-select>
        <ion-select *ngIf="role_id == '3'" disabled="false" placeholder="Pilih Kecamatan" name="kecamatan" [ngModel]="kecamatan" (ionChange)="update($event)">
          <ion-option *ngFor="let kec of list_kecamatan" value="{{kec.id}}">{{kec.kec_name}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed>Desa/Keluarahan</ion-label>
        <ion-select placeholder="Pilih Desa/Keluarahan" name="Keluarahan" [ngModel]="kelurahan" (ionChange)="saveSetting($event)">
          <ion-option *ngFor="let desa of list_desa" value="{{desa.id}}">{{desa.kel_name}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <button ion-button full navPop>Kembali</button>
  </form>

</ion-content>